:root {
    --white: #fafafa;
    --black: #0d0d0d;
    --black-o: #000000a6;
    --grey: #a1a1a1;
}

body {
    color: var(--white);
    background-color: var(--black);
}

::selection {
    background: var(--white);
    color: var(--black);
}
